<h1>Stupid Coaching</h1>
<div class="dialogue">
  <h3><%=params[:question]%></h3>
  <h3><em>-You</em></h3>
</div>
<div class="dialogue answer">
  <h3><%=@answer%></h3>
  <h3><em>-Your Coach</em></h3>
</div>
<a href='http://localhost:3000/ask'>Ask a new question</a>
