<h1>Stupid Coaching</h1>
<p>Ask your coach anything:</p>
<div>
  <form action="/answer" class="form">
    <input type="text" name="question" id="form">
    <input type="submit" value="Ask!" id="button">
  </form>
</div>
