// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$gray: #F4F4F4;

body {
  background: $gray; // Using this variable
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
  width: 800px;
}

.dialogue {
  border-left: 5px gray solid;
  padding: 10px;
  margin: 10px;
}

.answer {
  background-color:rgb(238, 238, 139);
}

#form, #button {
 padding: 10px;
}

#form {
  width: 400px;
  position: relative;
}

#button {
  width: 100px;
  background-color: midnightblue;
  border-end-end-radius: 5px;
  border-top-right-radius: 5px;
  color: antiquewhite;
  font-weight: bold;
  position: absolute;
  left: 390px;

}
